@mixin for-pad {
    @media (max-width: 1440px) and (min-width: 768px) {
        @content;
    }
}

@mixin for-notdesc {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin for-extra-mobile {
    @media (max-width: 360px) {
        @content;
    }
}

@mixin for-mobile {
    @media(max-width: 689px) {
        @content;
    }
}

@mixin for-laptop {
    @media (max-width: 929px) {
        @content;
    }
}

@mixin for-lowlap {
    @media (max-width: 1199px) {
        @content;
    }
}

@mixin for-lowdesc {
    @media (max-width: 1650px) {
        @content;
    }
}

//to wrap
@mixin wrap-xs-mobile {
    @media(min-width: 300px) {
        @content;
    }
}

@mixin wrap-extra-mobile {
    @media(min-width: 360px) {
        @content;
    }
}

@mixin wrap-mobile {
    @media(min-width: 690px) {
        @content;
    }
}

@mixin wrap-laptop {
    @media(min-width: 930px) {
        @content;
    }
}

@mixin wrap-lowlap {
    @media(min-width: 1200px) {
        @content;
    }
}

// @mixin wrap-meddesc {
//     @media(min-width: 1366px) {
//         @content;
//     }
// }
@mixin wrap-lowdesc {
    @media (min-width: 1680px) {
        @content;
    }
}

@mixin text-underline($color-text) {
    background-image: linear-gradient($color-text, $color-text);
    background-size: 1px 1px;
    background-repeat: repeat-x;
    background-position: 0% 95%;
}