*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class],
button {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@import "_mixins";
@import "_colors";
@import "components/*";
@import "../../node_modules/@fullcalendar/core/main.css";
@import "../../node_modules/@fullcalendar/daygrid/main.css";
@import "../../node_modules/lightbox2/dist/css/lightbox";
@font-face {
    font-family: 'Inter-Regular';
    src: url('/fonts/Inter-Regular.otf');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('/fonts/Inter-Bold.otf');
}

html {
    background-image: url(/image/bg-top.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

body {
    background-image: url(/image/bg-bottom.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    font-family: 'Inter-Regular';
    color: $clrBlack;
    background-size: contain;
}

.wrap {
    max-width: 1661px;
    margin: 0 auto;
}

.btn {
    background: $clrButtonNormal;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $clrColorWhite;
    font-family: 'Inter-Bold';
    width: 100%;
    height: 43px;
    cursor: pointer;
}

.btn:hover {
    background: $clrButtonHover;
}

.btn-white {
    background: $clrColorWhite;
    border-radius: 5px;
    border: 1px solid $clrLink;
    color: $clrLink;
    width: 100%;
    height: 43px;
    cursor: pointer;
    &:hover {
        background: $clrLink;
        color: $clrColorWhite;
    }
}

section.home-banner {
    background: url(/image/banner-top.png) no-repeat center;
    min-height: 400px;
    margin-bottom: 50px;
}

.free-consultation {
    width: 100%;
    max-width: 810px;
    height: 100%;
    background: rgba(39, 52, 0, 0.46);
    display: flex;
    min-height: 400px;
    margin: 0 auto;
    padding: 20px 63px;
    align-items: center;
}

.free-consultation-left {
    max-width: 297px;
}

.consultation-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
    color: $clrColorWhite;
    font-family: 'Inter-Bold';
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-bottom: 14px;
}

.consultation-desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: $clrColorWhite;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.free-consultation-center {
    min-height: 360px;
    position: relative;
    margin-left: 51px;
    margin-right: 63px;
    &:after {
        position: absolute;
        content: '';
        width: 1px;
        background: rgba(255, 255, 255, 0.8);
        height: 155px;
        bottom: 0;
    }
    &:before {
        position: absolute;
        content: '';
        width: 1px;
        background: rgba(255, 255, 255, 0.8);
        height: 155px;
        top: 0;
    }
    img {
        position: absolute;
        top: calc(50% - 15px);
        width: auto;
        transform: translateX(-14px);
        max-width: fit-content;
    }
}

.free-consultation-right {
    width: 40%;
    max-width: 265px;
    .form-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        font-family: 'Inter-Bold';
        color: $clrColorWhite;
    }
    .form-input {
        margin: 15px 0 14px 0;
    }
}

form {
    input[type='text'],
    input[type='e-mail'] {
        width: 100%;
        height: 40px;
        background: $clrColorWhite;
        border-radius: 5px;
        border: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #919191;
        padding: 10px;
    }
    input[type='checkbox'] {
        border: none;
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    input[type='checkbox']+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        cursor: pointer;
    }
    input[type='checkbox']+label::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 5px;
        margin-right: 8px;
        background: $clrColorWhite;
        border: 1px solid #EBEBEB;
        transition: 0.2s;
    }
    input[type='checkbox']:checked+label::before {
        background: $clrColorWhite;
        content: url(/image/icons/accept.svg);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $clrBlack;
        transition: 0.2s;
    }
    input:focus {
        outline: none;
    }
}

.form-accept-check {
    display: flex;
}

.form-accept-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: $clrColorWhite;
    max-width: 238px;
    margin-bottom: 24px;
}

.swiper {
    max-width: 360px;
    height: 291px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: $clrColorWhite;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: $clrBlack;
    border: 2px solid $clrColorWhite;
}

.swiper-button-prev:after {
    content: url(/image/icons/arrow-left-small.svg);
}

.swiper-button-next:after {
    content: url(/image/icons/arrow-right-small.svg);
}

.swiper-button-prev,
.swiper-button-next {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}