<section class="single-post">
            <div class="container">
                <div class="single-post-title-wrap">
                    <div class="single-post-title">
                        <h1>Скандинавская ходьба для пожилых людей: вперед — к хорошему самочувствию!</h1>
                    </div>
                </div>

                <div class="single-post-content">

                    <article>
                        <p>
                            Скандинавская ходьба — относительно новый вид спорта. Всего за несколько лет техника приобрела огромную популярность, и самыми большими поклонниками этого вида тренировок стали пенсионеры. Польза скандинавской ходьбы для пожилых людей огромна: укрепляются
                            мышцы ног, рук, спины. Человек становится сильнее и выносливее. От регулярных занятий на свежем воздухе повышается иммунитет и улучшается настроение. Скандинавскую ходьбу часто сравнивают с лечебной гимнастикой, однако, чтобы занятия
                            приносили максимум пользы, недостаточно просто ходить с палками в руках. Важно детально изучить все нюансы этого вида спорта и выполнять рекомендации тренеров.
                        </p>
                        <img src="/image/posts/post1.png" alt="">
                    </article>

                    <article>
                        <div class="single-post-subtitle">
                            Особенности скандинавской ходьбы
                        </div>
                        <p>
                            В пожилом возрасте людям становится тяжело выполнять многие физические упражнения из-за высокой нагрузки на мышцы и суставы. Идеальным способом поддержать активность может стать скандинавская ходьба. Во время занятий движения тела совершенно естественные;
                            от пенсионеров не требуется особой подготовки. Скандинавская ходьба для начинающих представляет собой непродолжительные, щадящие тренировки, постепенно нагрузка увеличивается и занимает больше времени. При регулярных занятиях наблюдается
                            положительное воздействие на все функции организма:
                        </p>
                        <ol>
                            <li>улучшается координация движений;</li>
                            <li>восстанавливается кровообращение;</li>
                            <li>понижается уровень холестерина в крови;</li>
                            <li>нормализуется артериальное давление;</li>
                            <li>снижается риск инсультов и инфарктов.</li>
                        </ol>
                        <p>
                            Занятия благоприятно сказываются на работе дыхательной и сердечно-сосудистой систем. У скандинавской ходьбы практически нет противопоказаний, однако, не рекомендуется приступать к тренировкам сразу после операций или в период обострения хронических заболеваний.
                            Врачи запрещают заниматься этим видом спорта людям с тромбофлебитом, осложненным сахарным диабетом, дегенеративными изменениями суставов. В остальных случаях каждый желающий может вооружиться палками и приступить к занятиям в ближайшем
                            парке или просто на городских улицах.
                        </p>
                        <div class="sibgle-post-quote">
                            <p>
                                Скандинавская ходьба для начинающих представляет собой непродолжительные, щадящие тренировки, постепенно нагрузка увеличивается и занимает больше времени.
                            </p>
                        </div>
                    </article>

                    <article>
                        <div class="single-post-subtitle">
                            Правила скандинавской ходьбы для пожилых
                        </div>
                        <img src="/image/posts/post2.png" alt="">
                        <p>
                            Для ходьбы с палками не требуется никакого особенного снаряжения, спортзала или специальной одежды. В теплое время года лучше отдать предпочтение обычным штанам и футболкам, осенью и зимой образ дополнит куртка и головной убор. Главное условие, чтобы
                            одежда была удобной, не сковывающей движений. Желательно, чтобы предметы гардероба были выполнены из натуральных материалов с минимальным содержанием синтетики. Что касается обуви, она должна хорошо сидеть на ноге, не болтаться
                            и не быть тесной. Кеды, легкие кроссовки, мокасины - отличные варианты. Из снаряжения требуются только палки.
                        </p>
                        <p style="margin:30px 0;">
                            Чтобы получить положительный результат от скандинавской ходьбы, нужно придерживаться следующих правил:
                        </p>
                        <ul>
                            <li>
                                Обязательно нужна разминка перед скандинавской ходьбой. От занятий без подготовки могут появиться боли в сердце, быстро наступит усталость. В качестве разминки можно выполнить несколько махов руками в стороны и вверх; сделать 8-10 наклонов вперед и вбок;
                                опираясь на палки, сделать несколько приседаний и махов ногами.
                            </li>
                            <li>
                                Частота тренировок должна быть регулярной. Оптимальный вариант — 3-4 занятия в неделю. Если позволяет здоровье, можно заниматься каждый день, не менее часа. Важный нюанс: от прогулок нужно получать удовольствие! Если ходьба сопровождается дискомфортом,
                                болями или быстрой утомляемостью, нужно уменьшить интенсивность и продолжительность занятий.
                            </li>
                            <li>
                                Техника дыхания тоже важна для эффективных тренировок. Дышать желательно только носом. Во время занятий нельзя разговаривать.
                            </li>
                        </ul>
                    </article>

                    <div class="single-post-form">

                        <div class="post-form-bg">


                            <div class="post-form-wrap">

                                <div class="post-form-title">
                                    Вам или вашим близким<br> требуется<br> специализированный уход?
                                </div>
                                <div class="post-form-desc">
                                    <p>
                                        Оставьте свои контакты, и мы поможем найти лучшее место с комфортными условиями
                                    </p>
                                </div>
                                <div class="post-form-form">
                                    <form action="">
                                        <div class="form-row">
                                            <input type="e-mail" placeholder="Email/телефон">
                                            <input type="text" placeholder="Ваше имя">
                                        </div>
                                        <div class="form-row">
                                            <textarea name="" id="" cols="30" rows="10" placeholder="Сообщение"></textarea>
                                        </div>

                                        <div class="post-form-accept">
                                            <div class="form-accept">
                                                <div class="form-accept-check">
                                                    <input type="checkbox" id="form-accept-check">
                                                    <label class="form-accept-desc" for="form-accept-check"><span>Я согласен с условиями обработки <a class="policy-link" href="#">персональных данных</a></span></label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="post-form-btn">
                                            <button class="btn">Найти</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <article>
                        <div class="single-post-subtitle">
                            Техника ходьбы: основные моменты
                        </div>
                        <p style="margin-bottom:30px;">
                            Важное преимущество этого вида спорта в том, что техника скандинавской ходьбы для пожилых людей очень понятна и доступна. Движения туловища должны быть естественными, плавными, даже немного расслабленными. Руками и ногами нужно двигать синхронно. Правая
                            рука и левая нога двигаются вперед, палка ставится на землю перед собой. Следующее движение — левая рука и правая нога вперед, палка снова опирается о землю. Палка, которая находится сзади, должна с усилием опираться на землю,
                            то есть в процессе принимают активное участие обе руки. Тело при этом слегка наклонено вперед.
                        </p>
                        <p style="margin-bottom:30px;">
                            Ногу при опускании необходимо сначала ставить на пятку и плавно переносить на носок. Не должно быть никаких рывков в движениях, все делается свободно, без напряжения, как при обычной ходьбе. Но темп нужно выбрать более интенсивный, чем во время прогулки.
                            Длина шага зависит от постановки рук; чем дальше выставляются руки перед собой, тем шире шаг. Соответственно, организм будет получать больше нагрузки.
                        </p>
                        <p>
                            Ориентироваться нужно, в первую очередь, на собственное самочувствие и состояние здоровья. Вариантов упражнений много. Специалисты рекомендуют чередовать медленную и быструю ходьбу, широкий и мелкий шаг. Можно разбавлять ходьбу короткими перебежками,
                            после которых обязательно нужно останавливаться ненадолго для отдыха. Если нагрузка от ходьбы недостаточно сильная, можно прикрепить к палкам специальные утяжелители.
                        </p>
                    </article>


                </div>
            </div>
</section>

<section class="home-bottom-banner">
            <div class="container">
                <div class="free-consultation">
                    <div class="free-consultation-left">
                        <div class="consultation-title">Поможем подобрать место, в котором пациенту будет комфортно</div>
                        <div class="consultation-desc">
                            <p>Оставьте важную информацию о состоянии больного и свои контакты</p>
                            <p>Мы свяжемся в ближайшее время</p>
                        </div>
                    </div>
                    <div class="free-consultation-center">
                        <img src="/image/logo-white.png" alt="logo">
                    </div>
                    <div class="free-consultation-right">
                        <form action="/" class="consultation-form">
                            <div class="form-title">Подобрать место</div>
                            <div class="form-input">
                                <input type="text" name="consultation-contact" placeholder="Email/телефон">
                            </div>
                            <div class="form-input">
                                <input type="text" name="consultation-name" placeholder="Ваше имя">
                            </div>
                            <div class="form-input">
                                <textarea type="text" name="consultation-info" placeholder="Дополнительная информация"></textarea>
                            </div>
                            <div class="form-accept">
                                <div class="form-accept-check-bottom">
                                    <input type="checkbox" id="form-accept-check-bottom">
                                    <label class="form-accept-desc" for="form-accept-check-bottom">
                                        <span>Я согласен с условиями обработки <a href="#">персональных данных</a></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-submit">
                                <button class="btn">Подобрать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</section>