<section class="answers-questions">
            <div class="container">
                <div class="answers-questions-title">
                    <h2>Ответы на вопросы</h2>
                </div>
                <div class="swiper answers-questions-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide answers-questions-slide">
                            <div class="answers-question-one">
                                <div class="slide-title">Что нужно взять в пансионат?</div>
                                <div class="slide-text">
                                    <span>Для проживания в пансионате понадобятся:</span>
                                    <ul>
                                        <li>Основные средства личной гигиены;</li>
                                        <li>Нижнее белье и пижама;</li>
                                        <li>Халат;</li>
                                        <li>Удобная нескользкая домашняя обувь;</li>
                                        <li>Комфортная повседневная одежда;</li>
                                        <li>Теплая одежда и головные уборы для прогулок в холодное время года;</li>
                                        <li>Выходной наряд для праздничных мероприятий;</li>
                                        <li>Необходимые медикаменты.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="answers-question-two">
                                <div class="slide-title">Чем частные пансионаты лучше государственных домов престарелых?</div>
                                <div class="slide-text">
                                    <p>
                                        В пользу частных пансионатов говорит высокий уровень комфорта постояльцев. В этих учреждениях ежедневно контролируется состояние здоровья пожилых людей и обеспечивается для них интересный досуг. В частных пансионатах также предоставляется сбалансированное
                                        питание с возможностью подбора индивидуального меню. Еще одно преимущество частных пансионатов – профессионализм сотрудников. В этих учреждениях работают квалифицированный и внимательный персонал, обеспечивающий
                                        полноценный уход за постояльцем в режиме 24/7.
                                    </p>
                                </div>
                            </div>
                            <div class="answers-question-three">
                                <div class="slide-title">Существуют ли возрастные ограничения для постояльцев домов престарелых?</div>
                                <div class="slide-text">
                                    <p>
                                        В частных пансионатах нет возрастных ограничений. Здесь могут проживать все желающие. Достижение пенсионного возраста не является жестким требованием. Такие пансионаты открывают двери всем, кому нужна ежедневная помощь в уходе и медобслуживании.
                                    </p>
                                    <p>Государственные дома престарелых работают иным образом. Для проживания в этих учреждениях допускаются женщины в возрасте от 55 лет и мужчины – от 60 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide answers-questions-slide">
                            <div class="answers-question-one">
                                <div class="slide-title">Что нужно взять в пансионат?</div>
                                <div class="slide-text">
                                    <span>Для проживания в пансионате понадобятся:</span>
                                    <ul>
                                        <li>Основные средства личной гигиены;</li>
                                        <li>Нижнее белье и пижама;</li>
                                        <li>Халат;</li>
                                        <li>Удобная нескользкая домашняя обувь;</li>
                                        <li>Комфортная повседневная одежда;</li>
                                        <li>Теплая одежда и головные уборы для прогулок в холодное время года;</li>
                                        <li>Выходной наряд для праздничных мероприятий;</li>
                                        <li>Необходимые медикаменты.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="answers-question-two">
                                <div class="slide-title">Чем частные пансионаты лучше государственных домов престарелых?</div>
                                <div class="slide-text">
                                    <p>
                                        В пользу частных пансионатов говорит высокий уровень комфорта постояльцев. В этих учреждениях ежедневно контролируется состояние здоровья пожилых людей и обеспечивается для них интересный досуг. В частных пансионатах также предоставляется сбалансированное
                                        питание с возможностью подбора индивидуального меню. Еще одно преимущество частных пансионатов – профессионализм сотрудников. В этих учреждениях работают квалифицированный и внимательный персонал, обеспечивающий
                                        полноценный уход за постояльцем в режиме 24/7.
                                    </p>
                                </div>
                            </div>
                            <div class="answers-question-three">
                                <div class="slide-title">Существуют ли возрастные ограничения для постояльцев домов престарелых?</div>
                                <div class="slide-text">
                                    <p>
                                        В частных пансионатах нет возрастных ограничений. Здесь могут проживать все желающие. Достижение пенсионного возраста не является жестким требованием. Такие пансионаты открывают двери всем, кому нужна ежедневная помощь в уходе и медобслуживании.
                                    </p>
                                    <p>Государственные дома престарелых работают иным образом. Для проживания в этих учреждениях допускаются женщины в возрасте от 55 лет и мужчины – от 60 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide answers-questions-slide">
                            <div class="answers-question-one">
                                <div class="slide-title">Что нужно взять в пансионат?</div>
                                <div class="slide-text">
                                    <span>Для проживания в пансионате понадобятся:</span>
                                    <ul>
                                        <li>Основные средства личной гигиены;</li>
                                        <li>Нижнее белье и пижама;</li>
                                        <li>Халат;</li>
                                        <li>Удобная нескользкая домашняя обувь;</li>
                                        <li>Комфортная повседневная одежда;</li>
                                        <li>Теплая одежда и головные уборы для прогулок в холодное время года;</li>
                                        <li>Выходной наряд для праздничных мероприятий;</li>
                                        <li>Необходимые медикаменты.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="answers-question-two">
                                <div class="slide-title">Чем частные пансионаты лучше государственных домов престарелых?</div>
                                <div class="slide-text">
                                    <p>
                                        В пользу частных пансионатов говорит высокий уровень комфорта постояльцев. В этих учреждениях ежедневно контролируется состояние здоровья пожилых людей и обеспечивается для них интересный досуг. В частных пансионатах также предоставляется сбалансированное
                                        питание с возможностью подбора индивидуального меню. Еще одно преимущество частных пансионатов – профессионализм сотрудников. В этих учреждениях работают квалифицированный и внимательный персонал, обеспечивающий
                                        полноценный уход за постояльцем в режиме 24/7.
                                    </p>
                                </div>
                            </div>
                            <div class="answers-question-three">
                                <div class="slide-title">Существуют ли возрастные ограничения для постояльцев домов престарелых?</div>
                                <div class="slide-text">
                                    <p>
                                        В частных пансионатах нет возрастных ограничений. Здесь могут проживать все желающие. Достижение пенсионного возраста не является жестким требованием. Такие пансионаты открывают двери всем, кому нужна ежедневная помощь в уходе и медобслуживании.
                                    </p>
                                    <p>Государственные дома престарелых работают иным образом. Для проживания в этих учреждениях допускаются женщины в возрасте от 55 лет и мужчины – от 60 лет.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                 <div class="answers-questions-swiper-navigation">
                    <div class="swiper-button-prev answers-swiper-button-prev"></div>
                    <div class="swiper-button-next answers-swiper-button-next"></div>
                </div>
            </div>
        </section>