   <section class="best-hospises">
            <div class="container">
                <div class="best-hospises-title">
                    <h2>Лучшие предложения</h2>
                </div>
                <div class="best-hospises-list">

                    {% for item in items|slice(0,2) %}

                    <div class="listing-list-item">
                        <div class="slide-recommended">
                            <img src="./image/icons/star-recomended.svg" alt="">
                            <span>Рекомендуем</span>
                        </div>
                        <div class="list-item-slider">
                            <div class="swiper home-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="./image/houses-listing/house2.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./image/houses-listing/house2.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="./image/houses-listing/house2.png" alt="">
                                    </div>
                                </div>

                                <div class="swiper-pagination"></div>

                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>

                            </div>
                        </div>
                        <div class="list-item-content">
                            <div class="list-item-title">
                                <a href="{{item.pansion_url}}">{{item.pansion_name}}</a>
                            </div>
                            <div class="list-item-desc">
                                <p>{{item.pansion_address}}</p>
                            </div>
                            <div class="list-item-price">
                                <span>{{item.pansion_price}}</span> рублей/сутки
                            </div>
                            <div class="list-item-price-comment">
                                <span>Цена за месяц: от 45000 рублей</span>
                            </div>

                            <div class="list-item-btns">
                                <button class="btn">Забронировать</button>
                                <button class="btn-white">О хосписе</button>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div>
        </section>