 <section class="home-map">
    <div class="map-wrap map" id="map" data-mapDotX="55.763118" data-mapDotY="37.633787" data-name="test" data-address="test" data-image="test" data-capacity="test" data-lowest-price="test" data-balloon="" data-hint="">
        {# <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A57929345be5920911ec5a44271ba88fb6ed15a7897cd0aa54343c322d0cd42ef&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe> #}


    {# <div class="map-item">
    
        <div class="listing-list-item">
            <div class="list-item-slider">
                <div class="swiper map-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/image/houses-listing/house2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/image/houses-listing/house2.png" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/image/houses-listing/house2.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-pagination swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>

                    <div class="map-swiper-button-prev swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide"></div>
                    <div class="map-swiper-button-next swiper-button-next" tabindex="0" role="button" aria-label="Next slide"></div>

                </div>
            </div>
            <div class="list-item-content">
                <div class="map-item-close">
                </div>
                <div class="list-item-title">
                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                </div>
                <div class="list-item-desc">
                    <p>
                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                    </p>
                </div>
                <div class="list-item-price">
                    <span>3000</span> рублей/сутки
                </div>
                <div class="list-item-price-comment">
                    <span>Цена за месяц: от 45000 рублей</span>
                </div>
                <div class="list-item-btns">
                    <button class="btn">Забронировать</button>
                    <button class="btn-white">О хосписе</button>
                </div>
            </div>
        </div>

    </div>  #}

    </div>
</section>