 <section class="home-map">
    <div class="map-wrap" id="home-map">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A57929345be5920911ec5a44271ba88fb6ed15a7897cd0aa54343c322d0cd42ef&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</section>