  <section class="home-banner">

            <div class="container">
                <div class="free-consultation">
                    <div class="free-consultation-left">
                        <div class="consultation-title">Бесплатная консультация</div>
                        <div class="consultation-desc">
                            Ответим на все вопросы о том, как оформить пациента в хоспис
                        </div>
                    </div>
                    <div class="free-consultation-center">
                        <img src="./image/logo-white.png" alt="logo">
                    </div>
                    <div class="free-consultation-right">
                        <form action="/" class="consultation-form">
                            <div class="form-title">Есть вопросы?</div>
                            <div class="form-input">
                                <input type="text" name="consultation" id="consultation-form" placeholder="Email/телефон">
                            </div>
                            <div class="form-accept">
                                <div class="form-accept-check">
                                    <input type="checkbox" id="form-accept-check">
                                    <label class="form-accept-desc" for="form-accept-check">Я согласен с условиями обработки персональных данных</label>
                                </div>
                            </div>
                            <div class="form-submit">
                                <button class="btn">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>