   <section class="home-listing">
            <div class="container">

                <div class="sidebar">
                  {{ this.render('//components/filter/filter_desctop.twig') | raw}}
                  {{ this.render('//components/filter/filter_mobile.twig') | raw}}
                </div>

                <div class="home-listing-wrap">
                    <div class="home-listing-title">
                        <h1>Хосписы Москвы и Московской области</h1>
                    </div>
                    <div class="home-listing-text top">
                        <p>
                            Люди почтенного возраста часто утрачивают способность к самообслуживанию и нуждаются в круглосуточном уходе и квалифицированной медицинской помощи. Все это вы можете дать им, подобрав достойный пансионат для пожилых в Московской области. На страницах
                            нашего каталога вы найдете бюджетные и элитные варианты, специализированные учреждения по уходу за лежачими постояльцами, дома-интернаты и реабилитационные центры, способные вернуть человека к активной жизни после инфарктов,
                            инсультов, перелома шейки бедра и эндопротезирования суставов.
                        </p>
                    </div>
                    <div class="home-listing-sorting">
                        <ul class="sorting-menu">
                            <li><a href="#">Химки (5)</a></li>
                            <li><a href="#">Люберцы (13)</a></li>
                            <li><a href="#">Зеленоград (6)</a></li>
                            <li><a href="#">Мытищи (1)</a></li>
                            <li><a href="#">Реутов (4)</a></li>
                            <li><a href="#">Бутово (9)</a></li>
                            <li><a href="#">Королев (2)</a></li>
                            <li><a href="#">Красногорск (3)</a></li>
                        </ul>
                    </div>

                    <div class="home-listing-list">

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="home-listing-more-btn">
                        <button class="btn-white">Показать еще</button>
                    </div>

            
                </div>
            </div>

            <div class="home-listing-text bottom">
                <p>
                    Люди почтенного возраста часто утрачивают способность к самообслуживанию и нуждаются в круглосуточном уходе и квалифицированной медицинской помощи. Все это вы можете дать им, подобрав достойный пансионат для пожилых в Московской области. На страницах
                    нашего каталога вы найдете бюджетные и элитные варианты, специализированные учреждения по уходу за лежачими постояльцами, дома-интернаты и реабилитационные центры, способные вернуть человека к активной жизни после инфарктов,
                    инсультов, перелома шейки бедра и эндопротезирования суставов.
                </p>
            </div>
        </section>