   <section class="home-listing">
            <div class="container">
                <div class="sidebar">
                    <div class="filter-wrap">
                        <form action="/">
                            <div class="filter-item filter-price">
                                <div class="filter-title">Цена (за сутки)</div>
                                <div class="filter-items">
                                    <label>
                                        <input type="radio" name="filter-price" value="500">
                                        <span>до 500 руб.</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="filter-price" value="1000">
                                        <span>до 1000 руб.</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="filter-price" value="1100">
                                        <span>до 1100 руб.</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="filter-price" value="1200">
                                        <span>до 1200 руб.</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="filter-price" value="1300">
                                        <span>до 1300 руб.</span>
                                    </label>
                                </div>
                            </div>
                            <div class="filter-item filter-zabolevanie">
                                <div class="filter-title">Заболевание/осложнение</div>
                                <div class="filter-items">
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="insult">
                                        <span>Инсульт</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="infarkt">
                                        <span>Инфаркт</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="onkologiya">
                                        <span>Онкология</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="parkinson">
                                        <span>Паркинсон</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="alcgeimer">
                                        <span>Альцгеймер</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="demenciya">
                                        <span>Деменция</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="psiho-zabolevaniya">
                                        <span>Психические заболевания</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="sahar-diabet">
                                        <span>Сахарный диабет</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-zabolevanie" value="perelom-bedra">
                                        <span>Перелом шейки бедра</span>
                                    </label>
                                </div>
                            </div>
                            <div class="filter-item filter-pacient-type">
                                <div class="filter-title">Больные</div>
                                <div class="filter-items">
                                    <label>
                                    <input type="checkbox" name="filter-pacient-type" value="kolyasochniki">
                                    <span>Колясочники</span>
                                </label>
                                    <label>
                                    <input type="checkbox" name="filter-pacient-type" value="hodyachie">
                                    <span>Ходячие</span>
                                </label>
                                    <label>
                                    <input type="checkbox" name="filter-pacient-type" value="legachie">
                                    <span>Лежачие</span>
                                </label>
                                    <label>
                                    <input type="checkbox" name="filter-pacient-type" value="tyagelobolnie">
                                    <span>Тяжелобольные</span>
                                </label>
                                    <label>
                                    <input type="checkbox" name="filter-pacient-type" value="children">
                                    <span>Дети и подростки</span>
                                </label>
                                </div>
                            </div>
                            <div class="filter-item filter-city">
                                <div class="filter-title">Город</div>
                                <div class="filter-city-select">
                                    Москва и область
                                </div>
                                <div class="filter-city-popup">
                                    <label>
                                        <input type="checkbox" name="filter-city" value="moscow-and-region">
                                        <span>Москва и область</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="andreevka">
                                        <span>Андреевка</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Балашиха</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Барвиха</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Бронницы</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Видное</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Бутово</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Люберцы</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Воронеж</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Казань</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Реутов</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Одинцово</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="filter-city" value="balashiha">
                                        <span>Королев</span>
                                    </label>
                                    <div class="filter-city-btns">
                                        <button class="btn">Выбрать</button>
                                        <a href="#">Сбросить</a>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-item filter-region">
                                <div class="filter-title">Направление</div>
                                <div class="filter-items">
                                    <label>
                                            <input type="checkbox" name="filter-region" value="sever">
                                            <span>Север</span>
                                        </label>
                                    <label>
                                            <input type="checkbox" name="filter-region" value="yug">
                                            <span>Юг</span>
                                        </label>
                                    <label>
                                            <input type="checkbox" name="filter-region" value="vostok">
                                            <span>Восток</span>
                                        </label>
                                    <label>
                                            <input type="checkbox" name="filter-region" value="zapad">
                                            <span>Запад</span>
                                        </label>
                                </div>
                            </div>
                            <div class="filter-item filter-hospis-type">
                                <div class="filter-title">Тип</div>
                                <div class="filter-items">
                                    <label>
                                        <input type="radio" name="filter-hospis-type" value="gosudarstvennie">
                                        <span class="hospis-type-text">Государственные</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="filter-hospis-type" value="chastnie">
                                        <span class="hospis-type-text">Частные</span>
                                    </label>
                                </div>
                            </div>
                            <div class="filter-item filter-btns">
                                <div class="filter-search">
                                    <button class="btn">Найти</button>
                                </div>
                                <div class="filter-reset">
                                    <a href="#">Сбросить</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="home-listing-wrap">
                    <div class="home-listing-title">
                        <h1>Хосписы Москвы и Московской области</h1>
                    </div>
                    <div class="home-listing-text top">
                        <p>
                            Люди почтенного возраста часто утрачивают способность к самообслуживанию и нуждаются в круглосуточном уходе и квалифицированной медицинской помощи. Все это вы можете дать им, подобрав достойный пансионат для пожилых в Московской области. На страницах
                            нашего каталога вы найдете бюджетные и элитные варианты, специализированные учреждения по уходу за лежачими постояльцами, дома-интернаты и реабилитационные центры, способные вернуть человека к активной жизни после инфарктов,
                            инсультов, перелома шейки бедра и эндопротезирования суставов.
                        </p>
                    </div>
                    <div class="home-listing-sorting">
                        <ul class="sorting-menu">
                            <li><a href="#">Химки (5)</a></li>
                            <li><a href="#">Люберцы (13)</a></li>
                            <li><a href="#">Зеленоград (6)</a></li>
                            <li><a href="#">Мытищи (1)</a></li>
                            <li><a href="#">Реутов (4)</a></li>
                            <li><a href="#">Бутово (9)</a></li>
                            <li><a href="#">Королев (2)</a></li>
                            <li><a href="#">Красногорск (3)</a></li>
                        </ul>
                    </div>

                    <div class="home-listing-list">

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house1.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house3.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house1.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house3.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house3.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house1.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house4.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house3.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house5.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house3.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                        <div class="listing-list-item">
                            <div class="slide-recommended">
                                <img src="/image/icons/star-recomended.svg" alt="">
                                <span>Рекомендуем</span>
                            </div>
                            <div class="list-item-slider">
                                <div class="swiper home-swiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house6.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house2.png" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                            <img src="/image/houses-listing/house3.png" alt="">
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>

                                </div>
                            </div>
                            <div class="list-item-content">
                                <div class="list-item-title">
                                    <a href="#">Пансионат для престарелых «Нескучный сад»</a>
                                </div>
                                <div class="list-item-desc">
                                    <p>
                                        Московская обл., Мытищинский район, деревня Ховрино, ул. Бородинская
                                    </p>
                                </div>
                                <div class="list-item-price">
                                    <span>3000</span> рублей/сутки
                                </div>
                                <div class="list-item-price-comment">
                                    <span>Цена за месяц: от 45000 рублей</span>
                                </div>
                                <div class="list-item-options">
                                    <ul class="options-list">
                                        <li><img src="/image/options-icons/invalids.svg" alt=""></li>
                                        <li><img src="/image/options-icons/nature.svg" alt=""></li>
                                        <li><img src="/image/options-icons/med-view.svg" alt=""></li>
                                        <li><img src="/image/options-icons/everyday-control.svg" alt=""></li>
                                        <li><img src="/image/options-icons/psyho-pacients.svg" alt=""></li>
                                        <li><img src="/image/options-icons/rest.svg" alt=""></li>
                                        <li><img src="/image/options-icons/reability-programs.svg" alt=""></li>
                                    </ul>
                                </div>
                                <div class="list-item-btns">
                                    <button class="btn">Забронировать</button>
                                    <button class="btn-white">О хосписе</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="home-listing-more-btn">
                        <button class="btn-white">Показать еще</button>
                    </div>

            
                </div>
            </div>

            <div class="home-listing-text bottom">
                <p>
                    Люди почтенного возраста часто утрачивают способность к самообслуживанию и нуждаются в круглосуточном уходе и квалифицированной медицинской помощи. Все это вы можете дать им, подобрав достойный пансионат для пожилых в Московской области. На страницах
                    нашего каталога вы найдете бюджетные и элитные варианты, специализированные учреждения по уходу за лежачими постояльцами, дома-интернаты и реабилитационные центры, способные вернуть человека к активной жизни после инфарктов,
                    инсультов, перелома шейки бедра и эндопротезирования суставов.
                </p>
            </div>
        </section>