<section class="home-bottom-banner">
            <div class="container">
                <div class="free-consultation">
                    <div class="free-consultation-left">
                        <div class="consultation-title">Поможем подобрать место, в котором пациенту будет комфортно</div>
                        <div class="consultation-desc">
                            <p>Оставьте важную информацию о состоянии больного и свои контакты</p>
                            <p>Мы свяжемся в ближайшее время</p>
                        </div>
                    </div>
                    <div class="free-consultation-center">
                        <img src="/image/logo-white.png" alt="logo">
                    </div>
                    <div class="free-consultation-right">
                        <div class="form_wrapper">
                            <form action="/ajax/form/" class="consultation-form" data-type="main">
                                <div class="form-title">Подобрать место</div>
                                <div class="form-input">
                                    <input type="text" name="consultation-contact" placeholder="Email/телефон" data-required>
                                </div>
                                <div class="form-input">
                                    <input type="text" name="consultation-name" placeholder="Ваше имя" data-required>
                                </div>
                                <div class="form-input">
                                    <textarea type="text" name="consultation-info" placeholder="Дополнительная информация"></textarea>
                                </div>
                                <div class="form-accept">
                                    <div class="form-accept-check-bottom _active" data-action="form_checkbox" data-form-privacy>
                                        <input type="checkbox" name="policy" id="form-accept-check-bottom" data-required>
                                        <label class="form-accept-desc _link" for="form-accept-check-bottom">
                                            <span>Я согласен с условиями обработки <a href="#">персональных данных</a></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-submit">
                                    <button class="btn" type="submit">Подобрать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>