 <section class="map">
    <div class="container">
        <div class="map-wrap map" id="map" data-mapDotX="55.763118" data-mapDotY="37.633787" data-name="test" data-address="test" data-image="test" data-capacity="test" data-lowest-price="test" data-balloon="" data-hint="">
        </div>
    </div>
</section>