 <section class="home-map">
    <div class="map-wrap map" id="home-map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A73131570b0a1f086f05480318d36b0b192d2b717194654673474d15ccd86df3d&amp;width=100%25&amp;height=100%&amp;lang=en_FR&amp;scroll=true"></script>

    </div>
</section>