 <div class="breadcrumbs">
    <a href="/">Главная</a>
    <span class="breadcrumbs-separator">|</span>
    <span>Хосписы</span>
</div>

  <section class="section-404">
    <div class="container">
        <div class="wrap-404">
            <div class="img-404">
                <img src="/image/404/Vector.png" alt="">
                <img src="/image/404/404.png" alt="">
            </div>
            <div class="title-404">
                Что-то пошло не так :(
            </div>
            <div class="desc-404">
                К сожалению, страница не найдена. Уточните адрес страницы.
            </div>
            <div class="link-404">
                <a href="/">Вернуться на главную</a>
            </div>
        </div>
    </div>
</section>