<div class="filter-wrap filter-desctop filter" data-filter-wrapper>

	<div class="filter_select-checkbox-wrapper">
		<div class="filter-item filter-price filter_checkbox">
			<div class="filter-title">Цена (за сутки)</div>
			<div class="filter-items" data-type="price">
			{% for label,filter_item in filters %}
				{% if filter_item.type == 'checkbox' %}
					{{ this.render('filter_checkbox.twig', {
						'filter_item':filter_item,
						'label':label,
						'filter_active': filter_active
					}) | raw }}
				{% endif %}
			{% endfor %}	
			</div>
		</div>

		<div class="filter-item filter-zabolevanie filter_select">
			<div class="filter-title">Заболевание/осложнение</div>
			<div class="filter-items" data-type="zabolevanie" data-filter-select-block>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="insult" data-filter-select-item>
					<span>Инсульт</span>
				</label>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="infarkt" data-filter-select-item>
					<span>Инфаркт</span>
				</label>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="onkologiya" data-filter-select-item>
					<span>Онкология</span>
				</label>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="parkinson" data-filter-select-item>
					<span>Паркинсон</span>
				</label>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="alcgeimer" data-filter-select-item>
					<span>Альцгеймер</span>
				</label>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="demenciya" data-filter-select-item>
					<span>Деменция</span>
				</label>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="psiho-zabolevaniya" data-filter-select-item>
					<span>Психические заболевания</span>
				</label>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="sahar-diabet" data-filter-select-item>
					<span>Сахарный диабет</span>
				</label>
				<label>
					<input type="checkbox" name="filter-zabolevanie" data-value="perelom-bedra" data-filter-select-item>
					<span>Перелом шейки бедра</span>
				</label>
			</div>
		</div>

		<div class="filter-item filter-pacient-type filter_select">
			<div class="filter-title">Больные</div>
			<div class="filter-items" data-type="pacient-type" data-filter-select-block>
				<label>
				<input type="checkbox" name="filter-pacient-type" data-value="kolyasochniki" data-filter-select-item>
				<span>Колясочники</span>
			</label>
				<label>
				<input type="checkbox" name="filter-pacient-type" data-value="hodyachie" data-filter-select-item>
				<span>Ходячие</span>
			</label>
				<label>
				<input type="checkbox" name="filter-pacient-type" data-value="legachie" data-filter-select-item>
				<span>Лежачие</span>
			</label>
				<label>
				<input type="checkbox" name="filter-pacient-type" data-value="tyagelobolnie" data-filter-select-item>
				<span>Тяжелобольные</span>
			</label>
				<label>
				<input type="checkbox" name="filter-pacient-type" data-value="children" data-filter-select-item>
				<span>Дети и подростки</span>
			</label>
			</div>
		</div>

		<div class="filter-item filter-city filter_select">
			<div class="filter-title">Город</div>
			<div class="filter-city-select filter-select">
				Москва и область
			</div>
			<div class="filter-city-popup filter-popup" data-type="city" data-filter-select-block>
					<label>
						<input type="checkbox" name="filter-city" data-value="moscow-and-region" data-filter-select-item>
						<span>Москва и область</span>
					</label>
					{% for label,filter_item in filters %}
						{% if filter_item.type == 'select' %}
							{{ this.render('filter_select.twig', {
								'filter_item':filter_item,
								'label':label,
								'filter_active': filter_active
							}) | raw }}
						{% endif %}
					{% endfor %}	
				<div class="filter-city-btns">
					<button class="btn">Выбрать</button>
					<a href="#">Сбросить</a>
				</div>
			</div>
		</div>

		<div class="filter-item filter-region filter_select">
			<div class="filter-title">Направление</div>
			<div class="filter-items" data-type="region" data-filter-select-block>
				<label>
						<input type="checkbox" name="filter-region" data-value="sever" data-filter-select-item>
						<span>Север</span>
					</label>
				<label>
						<input type="checkbox" name="filter-region" data-value="yug" data-filter-select-item>
						<span>Юг</span>
					</label>
				<label>
						<input type="checkbox" name="filter-region" data-value="vostok" data-filter-select-item>
						<span>Восток</span>
					</label>
				<label>
						<input type="checkbox" name="filter-region" data-value="zapad" data-filter-select-item>
						<span>Запад</span>
					</label>
			</div>
		</div>

		<div class="filter-item filter-hospis-type filter_checkbox">
			<div class="filter-title">Тип</div>
			<div class="filter-items" data-type="hospis-type">
				<label>
					<input type="radio" name="filter-hospis-type" data-value="gosudarstvennie" data-filter-checkbox-item>
					<span class="hospis-type-text">Государственные</span>
				</label>
				<label>
					<input type="radio" name="filter-hospis-type" data-value="chastnie" data-filter-checkbox-item>
					<span class="hospis-type-text">Частные</span>
				</label>
			</div>
		</div>

		<div class="filter-item filter-btns">
			<div class="filter-search">
				<button class="btn" data-filter-button>Найти</button>
			</div>
			<div class="filter-reset">
				<a data-filter-cancel>Сбросить</a>
			</div>
		</div>

	</div>
</div>