<div class="filter-wrap filter-mobile filter" data-filter-wrapper>


    <div class="filter_select-checkbox-wrapper">
        <div class="filter-item filter-price filter_checkbox">
            <div class="filter-title">Цена (за сутки)</div>
                <div class="filter-city-select filter-select">
                    Выбрать
                </div>
            <div class="filter-price-popup filter-popup filter-items" data-type="price">
                {% for label,filter_item in filters %}
                    {% if filter_item.type == 'checkbox' %}
                        {{ this.render('filter_checkbox.twig', {
                            'filter_item':filter_item,
                            'label':label,
                            'filter_active': filter_active
                        }) | raw }}
                    {% endif %}
                {% endfor %}	
            </div>
        </div>
    

        <div class="filter-item filter-zabolevanie">
            <div class="filter-title">Заболевание/осложнение</div>
                <div class="filter-zabolevanie-select filter-select">
                Выбрать
            </div>
            <div class="filter-zabolevanie-popup filter-popup filter-items">
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="insult">
                    <span>Инсульт</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="infarkt">
                    <span>Инфаркт</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="onkologiya">
                    <span>Онкология</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="parkinson">
                    <span>Паркинсон</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="alcgeimer">
                    <span>Альцгеймер</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="demenciya">
                    <span>Деменция</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="psiho-zabolevaniya">
                    <span>Психические заболевания</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="sahar-diabet">
                    <span>Сахарный диабет</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-zabolevanie" value="perelom-bedra">
                    <span>Перелом шейки бедра</span>
                </label>
            </div>
        </div>

        <div class="filter-item filter-pacient-type">
            <div class="filter-title">Больные</div>
                <div class="filter-pacient-type-select filter-select">
                Выбрать
            </div>
            <div class="filter-pacient-type-popup filter-popup filter-items">
                <label>
                    <input type="checkbox" name="filter-pacient-type" value="kolyasochniki">
                    <span>Колясочники</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-pacient-type" value="hodyachie">
                    <span>Ходячие</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-pacient-type" value="legachie">
                    <span>Лежачие</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-pacient-type" value="tyagelobolnie">
                    <span>Тяжелобольные</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-pacient-type" value="children">
                    <span>Дети и подростки</span>
                </label>
            </div>
        </div>

        <div class="filter-item filter-city filter_select">
            <div class="filter-title">Город</div>
            <div class="filter-city-select filter-select">
                Москва и область
            </div>
            <div class="filter-city-popup filter-popup" data-type="city" data-filter-select-block>
                <div class="filter-city-popup-scroll">
                    <label>
                        <input type="checkbox" name="filter-city" data-value="moscow-and-region" data-filter-select-item>
                        <span>Москва и область</span>
                    </label>
                        {% for label,filter_item in filters %}
                            {% if filter_item.type == 'select' %}
                                {{ this.render('filter_select.twig', {
                                    'filter_item':filter_item,
                                    'label':label,
                                    'filter_active': filter_active
                                }) | raw }}
                            {% endif %}
                        {% endfor %}
                </div>    
                <div class="filter-city-btns">
                    <button class="btn" data-filter-button>Выбрать</button>
                    <a data-filter-cancel>Сбросить</a>
                </div>
            </div>
        </div>

        <div class="filter-item filter-region">
            <div class="filter-title">Направление</div>
            <div class="filter-region-select filter-select">
                Выбрать
            </div>
            <div class="filter-region-popup filter-popup filter-items">
                <label>
                    <input type="checkbox" name="filter-region" value="sever">
                    <span>Север</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-region" value="yug">
                    <span>Юг</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-region" value="vostok">
                    <span>Восток</span>
                </label>
                <label>
                    <input type="checkbox" name="filter-region" value="zapad">
                    <span>Запад</span>
                </label>
            </div>
        </div>

        <div class="filter-item filter-hospis-type">
            <div class="filter-title">Тип</div>
            <div class="filter-hospis-type-select filter-select">
                Выбрать
            </div>
            <div class="filter-hospis-type-popup filter-popup filter-items">
                <label>
                    <input type="radio" name="filter-hospis-type" value="gosudarstvennie">
                    <span class="hospis-type-text">Государственные</span>
                </label>
                <label>
                    <input type="radio" name="filter-hospis-type" value="chastnie">
                    <span class="hospis-type-text">Частные</span>
                </label>
            </div>
        </div>
        <div class="filter-item filter-btns">
            <div class="filter-more-parameters">
                <span>Все параметры</span>
            </div> 
            <div class="filter-search">
                <button class="btn" data-filter-button>Найти</button>
            </div>
            <div class="filter-reset">
                <a data-filter-cancel>Сбросить</a>
            </div>
        </div>
        
    </div>      
</div>