div[data-page-type="listing"] {
    padding-top: 40px;
}

.sidebar {
    max-width: 217px;
    width: 100%;
    @include for-lowlap {
        max-width: 211px;
    }
    @include for-laptop {
        max-width: 500px;
        margin-bottom: 40px;
    }
    @include for-mobile {
        max-width: 330px;
        margin-bottom: 50px;
    }
}

.filter-desctop {
    display: block;
    @include for-laptop {
        display: none;
    }
}

.filter-mobile {
    display: none;
    @include for-laptop {
        display: block;
    }
    form {
        @include for-laptop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .filter-item {
            @include for-laptop {
                margin-bottom: 25px;
                width: 50%;
                max-width: 240px;
            }
            @include for-mobile {
                margin-bottom: 25px;
                width: 100%;
                max-width: 330px;
            }
        }
    }
}

.filter-item {
    margin-bottom: 25px;
}

.filter-item label>span {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.filter-item:last-child {
    margin-bottom: 0;
    @include for-laptop {
        margin: 0 auto;
    }
}

.filter-price .filter-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include for-mobile {
        justify-content: flex-start;
    }
}

.filter-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Inter-Bold';
    margin-bottom: 10px;
}

.filter-price input[type='radio'] {
    border: none;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-price label>span {
    cursor: pointer;
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 36px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
    background: #F2F1E6;
    transition: 0.2s;
    border: 1px solid transparent;
    @include for-laptop {
        width: 100px;
    }
}

.filter-price label:not(:last-child) {
    margin-bottom: 10px;
    @include for-mobile {
        margin-right: 10px;
    }
}

.filter-price input[type='radio']._checked+span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $clrBlack;
    transition: 0.2s;
}

.filter-mobile {
    form {
        .filter-pacient-type,
        .filter-hospis-type,
        .filter-region {
            @include for-laptop {
                visibility: hidden;
                height: 0;
                opacity: 0;
                margin: 0;
            }
        }
    }
}

.filter-mobile {
    form {
        .filter-pacient-type {
            @include for-laptop {
                visibility: visible;
                height: fit-content;
                opacity: 1;
                margin-bottom: 25px;
            }
        }
    }
}

.active-all {
    form {
        .filter-pacient-type,
        .filter-hospis-type,
        .filter-region {
            @include for-laptop {
                visibility: visible;
                height: fit-content;
                opacity: 1;
                margin-bottom: 25px;
            }
        }
    }
}

.filter-zabolevanie .filter-items,
.filter-pacient-type .filter-items {
    display: flex;
    flex-direction: column;
}

.filter-zabolevanie label:not(:last-child),
.filter-pacient-type label:not(:last-child) {
    margin-bottom: 10px;
}

.filter-zabolevanie input[type='checkbox'],
.filter-pacient-type input[type='checkbox'],
.filter-region input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-zabolevanie .filter-items span,
.filter-pacient-type .filter-items span,
.filter-region .filter-items span {
    display: flex;
    align-items: center;
    user-select: none;
}

.filter-zabolevanie .filter-items span::before,
.filter-pacient-type .filter-items span::before,
.filter-region .filter-items span::before {
    content: '';
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid $checkBoxBorder;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.1s;
}

.filter-zabolevanie .filter-items input._active+span::before,
.filter-pacient-type .filter-items input._active+span::before,
.filter-region .filter-items input._active+span::before {
    background: $clrBgWhite;
    content: url(/image/icons/accept.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $clrBlack;
    transition: 0.1s;
}

.filter-select {
    height: 36px;
    padding: 10px;
    display: flex;
    align-items: center;
    background: $clrBgWhite;
    border: 1px solid $checkBoxBorder;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    cursor: pointer;
}

.filter-select::before {
    position: absolute;
    content: url(/image/icons/arrow-down.svg);
    right: 10px;
    transition: 0.3s;
}
.filter-select.active::before {
    transform: rotate(180deg);
}

.filter-popup {
    border: 1px solid $checkBoxBorder;
    border-radius: 5px;
    background: $clrBgWhite;
    margin-top: 2px;
    position: absolute;
    top:-10000px;
}

.filter-popup.active {
    padding: 16px 6px 13px 6px;
    opacity: 1;
    position: static;
    
}
.filter-city-popup-scroll{
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.filter-popup.active .filter-city-popup-scroll::-webkit-scrollbar {
    width: 1px;
    background-color: #f9f9fd;
}
.filter-popup.active .filter-city-popup-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $clrButtonNormal;
}
  
.filter-popup.active .filter-city-popup-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

.filter-city-popup label {
    display: block;
    width: 49%;
}

.filter-city-popup label {
    margin-bottom: 13px;
}

.filter-city-popup label:last-of-type {
    margin-bottom: 16px;
}

.filter-city-popup label span {
    display: flex;
}
.filter-city-popup label p {
    width: 100%;
    max-width: 74px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.filter-city-popup label p::before {
    content: '';
    position: absolute;
    display: block;
    width: 14px;
    height: 16px;
    right: 0;
    top: 0;
    background: $clrBgWhite;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,1) 100%);
}

.filter-city-popup label:first-child {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid $checkBoxBorder;
}

.filter-city-popup input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-city-popup span::before {
    content: '';
    display: flex;
    width: 16px;
    height: 16px;
    border: 1px solid $checkBoxBorder;
    border-radius: 5px;
    margin-right: 5px;
}

.filter-city-popup input._active+span::before {
    background: url(/image/icons/accept.svg) no-repeat center;
    background-size: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $clrBlack;
}

.filter-city-btns {
    padding-top: 13px;
    border-top: 1px solid $checkBoxBorder;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-city-btns button {
    max-width: 70px;
    height: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    font-family: 'Inter-Bold';
}

.filter-city-btns a {
    max-width: 70px;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    font-family: 'Inter-Bold';
    color: $clrButtonNormal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px dashed rgba(0, 178, 255, 0.5);
}

.filter-region .filter-items {
    display: flex;
    flex-wrap: wrap;
}

.filter-region label {
    display: flex;
    width: 50%;
    margin-bottom: 15px;
}

.filter-region label:nth-child(3),
.filter-region label:nth-child(4) {
    margin-bottom: 0;
}

.filter-hospis-type .filter-items {
    display: flex;
    flex-direction: column;
}

.filter-hospis-type .filter-items label {
    display: flex;
    align-items: center;
}

.filter-hospis-type .filter-items label:first-child {
    margin-bottom: 10px;
}

.filter-hospis-type .filter-items input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter-hospis-type .filter-items span {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 22px;
}

.filter-hospis-type .hospis-type-text::before {
    content: '';
    position: absolute;
    margin: 0 10px 0 0;
    width: 16px;
    height: 16px;
    border: 1px solid $checkBoxBorder;
    border-radius: 50%;
    left: 0;
}

.filter-hospis-type .hospis-type-text::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: $clrBlack;
    border-radius: 50%;
    opacity: 0;
    left: 4px;
}

.filter-hospis-type input[type='radio']._checked+.hospis-type-text::after {
    opacity: 1;
}

.filter-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-laptop {
        flex-direction: column;
    }
}

.filter-search {
    width: 50%;
    @include for-laptop {
        width: 100%;
        max-width: 100%;
    }
    .btn{
        font-size: 16px;
    }
}
.filter-search.has-result{
    width: 55%;
    .btn{
        font-size: 14px;
    }
}
.filter-btns {
    .filter-more-paramters span,
    .filter-reset a {
        color: $clrButtonNormal;
        border-bottom: 1px dashed;
        cursor: pointer;
        @include for-laptop {
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
        }
    }
    .filter-more-paramters span {
        @include for-laptop {
            margin-bottom: 15px;
            display: block;
        }
    }
    .filter-reset a {
        @include for-laptop {
            margin-top: 10px;
            display: block;
        }
    }
}