.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $clrBgWhite;
    padding: 34px 50px 34px 30px;
    @include for-laptop {
        padding: 20px 17px;
    }
    @include for-mobile {
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer-logo {
    max-width: 155px;
}

.footer-menu-wrap {
    width: 50%;
    max-width: 542px;
    @include for-lowdesc {
        max-width: 512px;
    }
    @include for-lowlap {
        max-width: 410px;
    }
    @include for-laptop {
        max-width: 200px;
    }
    @include for-mobile {
        width: 70%;
        margin: 20px 0;
    }
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    @include for-lowlap {
        flex-wrap: wrap;
    }
}

.footer-menu li {
    display: block;
}

.footer-menu li {
    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: $clrButtonNormal;
        transition: 0.2s;
    }
}

.footer-menu li a:hover {
    text-decoration-line: none;
    transition: 0.2s;
}

.footer-contacts {
    width: 40%;
    max-width: 405px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-lowdesc {
        max-width: 375px;
    }
    @include for-lowlap {
        flex-direction: column;
        max-width: 179px;
    }
    @include for-mobile {
        width: 100%;
        max-width: 100%;
    }
}

.footer-phone {
    max-width: 156px;
    line-height: 12px;
    @include for-lowlap {
        margin-bottom: 10px;
    }
}

.footer-phone span:first-child {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.footer-phone span:last-child {
    font-family: 'Inter-Regular';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.footer-call {
    width: 50%;
    max-width: 179px;
    @include for-lowlap {
        width: 100%;
    }
}

.footer-bottom p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 30px;
    @include for-lowlap {
        padding-left: 0;
    }
}