.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 34px 50px 34px 30px;
}

.footer-logo {
    max-width: 155px;
}

.footer-menu-wrap {
    width: 50%;
    max-width: 542px;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
}

.footer-menu li {
    display: block;
}

.footer-menu li {
    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #00B2FF;
        transition: 0.2s;
    }
}

.footer-menu li a:hover {
    text-decoration-line: none;
    transition: 0.2s;
}

.footer-contacts {
    width: 40%;
    max-width: 405px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-phone {
    max-width: 156px;
    line-height: 12px;
}

.footer-phone span:first-child {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.footer-phone span:last-child {
    font-family: 'Inter-Regular';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.footer-call {
    width: 50%;
    max-width: 179px;
}

.footer-bottom p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 30px;
}