section.header {
    margin-bottom: 15px;
    @include for-laptop {
        margin-bottom: 0;
    }
}

.header-top {
    padding: 13px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-mobile {
        height: 40px;
    }
    a {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $clrLink;
        border-bottom: 1px dashed $clrLink;
    }
}

.header-choose-city {
    line-height: 17px;
    span {
        font-weight: 500;
        font-size: 14px;
        @include for-mobile {
            display: none;
        }
    }
    a {
        position: relative;
        padding-left: 12px;
        &:before {
            position: absolute;
            content: url(/image/icons/header-location.svg);
            left: 0;
            top: 2px;
        }
    }
}

.mobile-phone {
    display: none;
    @include for-mobile {
        display: block;
    }
}

.mobile-btn-call {
    display: none;
    @include for-mobile {
        display: block;
    }
}

.mobile-menu-btn-wrap {
    display: none;
    @include for-lowlap {
        display: block;
    }
    @include for-mobile {
        margin: 0;
    }
}

.mobile-btn-call {
    a {
        color: $clrColorWhite;
        padding: 5px 10px;
    }
}

.mobile-menu-btn {
    width: 20px;
    height: 12px;
    span {
        display: block;
        width: 20px;
        height: 2px;
        background: $clrBlack;
    }
    span:not(:last-child) {
        margin-bottom: 3px;
    }
}

.mobile-menu-wrap {
    background: $clrButtonNormal;
    color: $clrColorWhite;
    padding: 50px 30px 64px 30px;
    position: relative;
    max-height: 539px;
    max-width: 360px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 10;
    a {
        color: $clrColorWhite;
    }
}

.mobile-menu-wrap.active {
    display: block;
}

.mobile-menu-top {
    margin-bottom: 50px;
    a {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
}

.mobile-menu-top li:not(:last-child),
.mobile-menu-bottom li:not(:last-child) {
    margin-bottom: 17px;
}

.mobile-menu-bottom a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.mobile-menu-close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    line-height: 12px;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    @include for-mobile {
        justify-content: center;
        padding: 15px 0;
    }
}

.header-middle-nav {
    width: 40%;
    max-width: 626px;
    @include for-lowlap {
        display: none;
    }
}

.header-middle-menu {
    display: flex;
    justify-content: space-between;
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: $clrBlack;
    }
}

.header-middle-logo {
    @include for-lowdesc {
        max-width: 199px;
    }
}

.header-middle-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    max-width: 561px;
    @include for-lowdesc {
        width: 100%;
        max-width: 453px;
    }
    @include for-lowlap {
        width: 100%;
        max-width: 65%;
    }
    @include for-mobile {
        display: none;
    }
    @include for-extra-mobile {
        display: none;
    }
}

.middle-contacts-phone {
    display: flex;
    flex-direction: column;
    span:first-child {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        font-family: 'Inter-Bold';
        margin-bottom: 2px;
    }
    span:last-child {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
    }
}

.middle-contacts-call {
    width: 30%;
    max-width: 170px;
    .btn {
        @include for-lowdesc {
            font-size: 14px;
            height: 35px;
            max-width: 138px;
        }
    }
}

.middle-contacts-socials {
    display: flex;
    flex-direction: column;
}

.middle-contacts-socials>a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $clrLink;
    margin-bottom: 7px;
    border-bottom: 1px solid $clrLink;
}

.middle-contacts-socials {
    div {
        display: flex;
    }
}

.middle-contacts-socials {
    .socials-whatsapp {
        margin-right: 12px;
    }
}

.header-bottom {
    padding: 0 50px;
    background: $clrBgWhite;
    border-radius: 5px;
    height: 70px;
    @include for-lowdesc {
        padding: 0 40px;
        background: $clrBgWhite;
        border-radius: 5px;
        height: 50px;
    }
    @include for-lowlap {
        padding: 0 25px;
        height: 40px;
    }
    @include for-laptop {
        display: none;
    }
    @include for-mobile {
        display: none;
    }
    nav{
        width: 100%;
        height: 100%;
    }
}

.header-bottom-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    li{
        display: flex;
        align-items: center;
    }
    li.active{
        border-bottom: 5px solid $clrButtonNormal;
        padding: 0 15px;
        @include for-lowlap {
            border-bottom: 3px solid $clrButtonNormal;
        }
    }
    li.active a{
        color: $clrButtonNormal;
    }
    a {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $clrBlack;
        @include for-lowdesc {
            font-size: 16px;
            line-height: 19px;
        }
        @include for-lowlap {
            font-size: 14px;
            line-height: 17px;
        }
    }

}

.breadcrumbs {
    line-height: 100%;
    span,
    a {
        font-weight: 400;
        font-size: 11px;
        line-height: 120%;
        text-transform: uppercase;
        color: $clrLightGrey;
    }
    .breadcrumbs-separator{
        margin: 0 5px;
    }
}