section.single-content {
    margin-top: 30px;
}

.swiper.swiper-single-top {
    max-width: 1100px;
    height: 590px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    border-radius: 5px;
    @include for-lowdesc {
        max-width: 780px;
        height: 440px;
    }
    @include for-lowlap {
        max-width: 100%;
        height: 500px;
    }
    @include for-laptop {
        height: 366px;
    }
    @include for-mobile {
        height: 183px;
    }
    img {
        @include for-mobile {
            width: 100%;
        }
    }
}

.single-top-wrap {
    display: flex;
    justify-content: space-between;
    @include for-lowlap {
        flex-direction: column;
    }
    @include for-mobile {
        flex-direction: column;
    }
    .single-top-img {
        @include for-lowlap {
            margin-bottom: 20px;
        }
    }
}

.single-top-desc-padding {
    padding: 30px 10px 0 10px;
    @include for-lowlap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.single-top-desc {
    width: 50%;
    max-width: 540px;
    height: 590px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 178, 255, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    @include for-lowdesc {
        width: 100%;
        max-width: 370px;
        height: 440px;
    }
    @include for-lowlap {
        width: 100%;
        max-width: 100%;
        height: 400px;
    }
    @include for-mobile {
        width: 100%;
        height: 420px;
    }
}

.single-top-desc-title {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    max-width: 480px;
    text-align: center;
    @include for-lowdesc {
        font-size: 24px;
        line-height: 110%;
        max-width: 510px;
    }
    @include for-mobile {
        font-size: 22px;
        line-height: 110%;
    }
}

.single-top-desc-title span {
    display: block;
    @include for-lowdesc {
        display: inline;
    }
    @include for-mobile {
        display: inline;
    }
}

.single-top-desc-adress {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    text-align: center;
    color: #686868;
    margin: 10px 0 70px 10px;
    @include for-lowdesc {
        font-size: 16px;
        line-height: 110%;
        max-width: 510px;
        margin: 10px 0 30px 10px;
    }
    @include for-mobile {
        font-size: 16px;
        line-height: 110%;
        margin: 5px 0 25px 0;
    }
}

.single-top-desc-price {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    text-align: center;
    @include for-lowdesc {
        font-size: 24px;
        line-height: 100%;
    }
    @include for-mobile {
        font-size: 22px;
        line-height: 100%;
    }
}

.single-top-desc-price-comment {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #686868;
    margin: 7px 0 30px 0;
    @include for-lowdesc {
        margin: 7px 0 15px 0;
    }
}

.single-top-desc-btn {
    text-align: center;
    @include for-lowdesc {
        width: 100%;
    }
}

.single-top-desc-btn button {
    font-family: 'Inter-Bold';
    max-width: 315px;
    height: 80px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    @include for-lowdesc {
        max-width: 280px;
        height: 60px;
        font-size: 24px;
    }
    @include for-mobile {
        font-size: 24px;
        line-height: 120%;
        height: 60px;
    }
}

.single-top-desc-phone-wrap {
    margin-top: auto;
    background: rgba(0, 178, 255, 0.1);
    display: flex;
    justify-content: center;
    padding: 20px 0;
    @include for-mobile {
        padding: 14px 0;
    }
}

.single-top-desc-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 325px;
    @include for-mobile {
        max-width: 265px;
    }
}

.desc-phone-number {
    display: flex;
    flex-direction: column;
    @include for-mobile {
        max-width: 200px;
    }
}

.desc-phone-number span:first-child {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    @include for-lowlap {
        font-size: 20px;
    }
    @include for-mobile {
        font-size: 20px;
        line-height: 130%;
    }
}

.desc-phone-number span:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #686868;
}

.single-top-links {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin-top: 20px;
    @include for-laptop {
        overflow: scroll;
        width: 105%;
    }
}

.links-item {
    @include for-laptop {
        margin-right: 10px;
    }
}

.single-top-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 0 20px;
    @include for-lowlap {
        padding: 0 10px;
        white-space: nowrap;
    }
    @include for-mobile {
        white-space: nowrap;
        padding: 0 12px;
    }
}

.single-wrap {
    max-width: 1100px;
}

.single-condition {
    padding: 90px 0 0 0;
    @include for-lowlap {
        padding: 50px 0 0 0;
    }
}

.single-title {
    font-family: 'Inter-bold';
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.single-condition-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.single-condition-text p {
    margin-top: 20px;
}

.single-comforts {
    padding: 90px 0 0 0;
}

.comforts-list-item {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 30px;
    width: 50%;
    max-width: 50%;
    @include for-mobile {
        width: 100%;
        max-width: 100%;
    }
}

.comforts-list-item .item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.single-comforts-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px!important;
}

.single-comforts-list .item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.single-comforts-list .item-img {
    margin-right: 15px;
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.single-diseases {
    width: 100%;
    max-width: 953px;
    padding: 90px 0 0 0;
    @include for-mobile {
        padding: 50px 0 0 0;
    }
}

.single-diseases-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.single-diseases-list div {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: #F8F8F3;
    border-radius: 5px;
    padding: 10px 8px;
    margin-right: 20px;
    margin-bottom: 15px;
    @include for-mobile {
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
}

.single-documents {
    padding: 90px 0 0 0;
    @include for-lowlap {
        padding: 70px 0 0 0;
    }
}

.single-documents-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    @include for-lowlap {
        max-width: 780px;
    }
    @include for-mobile {
        flex-wrap: wrap;
    }
}

.single-documents-list div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8F8F3;
    border-radius: 5px;
    width: 30%;
    max-width: 260px;
    height: 210px;
    background-repeat: no-repeat;
    background-position: center;
    &:nth-child(3) {
        @include for-mobile {
            margin-bottom: 0;
        }
    }
    &:nth-child(4) {
        @include for-mobile {
            margin-bottom: 0;
        }
    }
    @include for-lowlap {
        max-width: 182px;
        height: 176px;
    }
    @include for-mobile {
        height: 145px;
        width: 50%;
        max-width: 157px;
        margin-bottom: 15px;
    }
}

.single-prices {
    padding: 90px 0 0 0;
    @include for-lowlap {
        padding: 70px 0 0 0;
    }
    @include for-mobile {
        padding: 50px 0 0 0;
    }
}

.single-prices-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @include for-mobile {
        flex-direction: column;
    }
}

.single-prices-list-item {
    width: 30%;
    max-width: 353px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 178, 255, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 40px 0 0 0;
    &:not(:last-child) {
        @include for-mobile {
            margin-bottom: 15px;
        }
    }
    @include for-lowlap {
        width: 40%;
        max-width: 287px;
    }
    @include for-mobile {
        width: 100%;
        max-width: 100%;
    }
}

.single-prices-list .item-title {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 10px;
}

.single-prices-list .item-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: #686868;
}

.single-prices-list .item-price {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-top: auto;
    background: rgba(0, 178, 255, 0.1);
    padding: 12px 0;
    width: 100%;
}

.single-testimonial {
    padding: 90px 0;
    @include for-lowlap {
        padding: 70px 0 0 0;
    }
    @include for-mobile {
        padding: 50px 0;
    }
}

.single-testimonial-list {
    margin-top: 20px;
}

.testimonial-item:not(:last-child) {
    margin-bottom: 30px;
}

.testimonial-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 25px 40px 25px 20px;
    @include for-mobile {
        padding: 25px 20px;
    }
}

.testimonial-item .item-avatar {
    background: #E5F7FF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
    @include for-mobile {
        position: absolute;
    }
}

.testimonial-item .item-avatar::after {
    position: absolute;
    content: '';
    border-left-color: #E5F7FF;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-left-width: 14px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    right: -18px;
    top: 10px;
}

.testimonial-item .item-desc-rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120px;
    @include for-mobile {
        max-width: max-content;
        padding-left: 100px;
    }
}

.testimonial-item .item-desc-rating div {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.testimonial-item .item-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 948px;
    @include for-lowlap {
        max-width: 730px;
    }
}

.testimonial-item .item-desc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin: 15px 0;
    @include for-mobile {
        margin: 50px 0 15px 0;
    }
}

.testimonial-item .item-desc-info {
    display: flex;
    align-items: center;
}

.testimonial-item .item-desc-info .info-name {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    margin: 15px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    margin-right: 5px;
    @include for-mobile {
        margin: 0;
    }
}

.testimonial-item .item-desc-info .info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin: 15px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.located-nearby {
    padding: 40px 0 0 0;
}

.swiper.swiper-located-nearby {
    @include for-lowdesc {
        max-width: 250px;
        height: 250px;
    }
    @include for-lowlap {
        max-width: 435px;
        height: 282px;
    }
    @include for-mobile {
        max-width: 306px;
        height: 282px;
    }
}