.licenzies {
    padding: 30px 0 90px 0;
    @include for-lowdesc {
        padding: 30px 0 70px 0;
    }
}

.licenzies-title {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    @include for-mobile {
        font-size: 26px;
    }
}

.licenzies-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 36px 0 90px 0;
    @include for-lowdesc {
        margin: 30px 0 50px 0;
    }
}

.licenzies-departments {
    background: #F8F8F3;
    padding: 55px 45px;
    margin-bottom: 110px;
    @include for-lowdesc {
        padding: 55px 90px;
        margin-bottom: 90px;
    }
    @include for-lowlap {
        padding: 40px;
        margin-bottom: 50px;
    }
    @include for-mobile {
        padding: 20px;
        margin-bottom: 50px;
    }
}

.departments-list {
    display: flex;
    justify-content: space-between;
    @include for-lowdesc {
        flex-wrap: wrap;
        max-width: 1020px;
    }
}

.department1 {
    @include for-laptop {
        margin-bottom: 30px;
    }
}

.department2 {
    @include for-lowdesc {
        order: 2;
    }
    @include for-laptop {
        margin-bottom: 30px;
        order: unset;
    }
}

.department4 {
    @include for-lowdesc {
        order: 4;
    }
    @include for-laptop {
        margin-bottom: 30px;
        order: unset;
    }
}

.departments-list>div {
    display: flex;
    align-items: center;
    @include for-lowdesc {
        width: 50%;
        max-width: 423px;
        margin-bottom: 20px;
    }
    @include for-laptop {
        width: 100%;
        max-width: 580px;
        margin-bottom: 20px;
    }
    &:last-child {
        @include for-mobile {
            margin-bottom: 0;
        }
    }
}

.department-img {
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    @include for-lowlap {
        width: 100px;
        height: 100px;
    }
    @include for-laptop {
        width: 150px;
        height: 100px;
        display: flex;
        align-items: center;
    }
    @include for-mobile {
        width: 70px;
        height: 70px;
    }
}

.department-desc {
    font-weight: 500;
    font-size: 13px;
    line-height: 140%;
    text-transform: uppercase;
    @include for-laptop {
        max-width: 380px;
    }
    @include for-mobile {
        max-width: 216px;
    }
    br {
        @include for-laptop {
            display: none;
        }
    }
}

.licenzies-list {
    display: flex;
    justify-content: space-between;
    @include for-lowlap {
        display: grid;
    }
    @include for-laptop {
        justify-content: center;
    }
}

.licenzies-list-big {
    width: 100%;
    max-width: 542px;
    max-height: 764px;
    margin-right: 20px;
    @include for-lowlap {
        max-width: 440px;
        max-height: 622px;
    }
    @include for-laptop {
        display: none;
    }
}

.licenzies-list-small {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 'label0 label0 label1 label2 label5 label6' 'label0 label0 label3 label4 label7 label8';
    gap: 0px;
    height: 100%;
    @include for-lowdesc {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'label0 label0 label1 label2' 'label0 label0 label3 label4' 'label5 label6 label7 label8';
        gap: 0px;
        height: 100%;
    }
    @include for-lowlap {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'label0 label0 label1 label2' 'label0 label0 label3 label4' 'label5 label6 label7 label8';
        gap: 0px;
        height: 100%;
    }
    @include for-laptop {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'label1 label2' 'label3 label4' 'label5 label6' 'label7 label8';
        gap: 0px;
        height: 100%;
    }
    .licenzies-list-big {
        grid-area: label0;
    }
    .item1 {
        grid-area: label1;
    }
    .item2 {
        grid-area: label2;
    }
    .item3 {
        grid-area: label3;
    }
    .item4 {
        grid-area: label4;
    }
    .item5 {
        grid-area: label5;
    }
    .item6 {
        grid-area: label6;
    }
    .item7 {
        grid-area: label7;
    }
    .item8 {
        grid-area: label8;
    }
}

.licenzies-list-small .item {
    margin-bottom: 24px;
    max-width: 261px;
    @include for-lowlap {
        max-width: 212px;
    }
    @include for-laptop {
        max-width: 320px;
    }
    @include for-mobile {
        max-width: 158px;
        margin-bottom: 15px;
    }
}