.home-listing .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include for-laptop {
        flex-direction: column;
        align-items: center;
    }
}

.home-listing-wrap {
    max-width: 1380px;
    @include for-lowdesc {
        max-width: 930px;
    }
    @include for-lowlap {
        max-width: 670px;
    }
}

.home-listing-title h1 {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    @include for-lowlap {
        font-size: 26px;
    }
}

.home-listing-text {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    .more-text {
        display: none;
    }
    p {
        @include for-laptop {
            max-height: 134px;
            overflow: hidden;
        }
    }
    p.active {
        @include for-mobile {
            max-height: fit-content;
            overflow: visible;
        }
    }
    .more-text {
        @include for-laptop {
            display: inline;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            color: #00B2FF;
            border-bottom: 1px dashed;
        }
    }
}

.home-listing-text.top {
    margin: 10px 0 30px 0;
}

.home-listing-text.bottom {
    margin: 90px auto;
    max-width: 1380px;
}

.home-listing-sorting {
    width: 100%;
    max-width: 977px;
}

.home-listing-sorting .sorting-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-lowlap {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: -15px;
        margin-right: -15px;
    }
    li {
        @include for-lowlap {
            margin-right: 10px;
            margin-bottom: 15px;
        }
    }
}

.home-listing-sorting .sorting-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00B2FF;
    color: #00B2FF;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    padding: 10px;
    transition: 0.2s;
    @include for-laptop {
        font-size: 13px;
        padding: 8px 5px;
    }
}

.home-listing-sorting .sorting-menu li a:hover {
    color: #ffffff;
    background: #00B2FF;
    transition: 0.2s;
}

.home-listing-list {
    padding: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include for-extra-mobile {
        justify-content: center;
    }
}

.home-listing-wrap {
    .listing-list-item {
        @include for-lowdesc {
            max-width: 455px;
            display: flex;
            flex-direction: column;
            max-height: fit-content;
        }
        @include for-lowlap {
            max-width: 325px;
        }
        @include for-mobile {
            max-width: 306px;
        }
    }
}

.listing-list-item {
    display: flex;
    max-width: 680px;
    max-height: 291px;
    position: relative;
    margin-bottom: 30px;
}

.slide-recommended {
    position: absolute;
    left: 0;
    z-index: 10;
    color: #ffffff;
    background: #2EAF00;
    padding: 10px;
    border-top-left-radius: 5px;
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 155px;
}

.list-item-content {
    padding: 20px 26px;
    background: rgba(242, 241, 230, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list-item-title a {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #00B2FF;
    text-decoration: underline;
    @include for-laptop {
        font-size: 16px;
    }
}

.list-item-desc p {
    font-weight: 400;
    font-size: 13px;
    line-height: 110%;
    color: #686868;
    margin: 11px 0 25px 0;
}

.list-item-price {
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.list-item-price-comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #686868;
    margin: 5px 0 17px 0;
}

.list-item-options ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.list-item-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    max-width: 245px;
}

.list-item-btns button {
    height: 35px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
}

.list-item-btns button:first-child {
    max-width: 136px;
}

.list-item-btns button:last-child {
    max-width: 99px;
}

.home-listing-more-btn {
    max-width: 155px;
    height: 45px;
    font-family: 'Inter-Bold';
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    margin: 0 auto;
}

.home-listing-more-btn button {
    height: 45px;
}