<section class="informaciya">
    <div class="container">
        <div class="informaciya-title">
            Информация
        </div>
        <div class="informaciya-content">

            <div class="good-to-know-items">

                

                    <div class="item item-big">
                        <a href="/informaciya/gipertonicheskij-kriz-u-pozhilyh" style="background-image: url(/image/information/info-page/info1.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Гипертонический криз у пожилых</a></div>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info2.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Основные проблемы пожилых людей</a></div>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info3.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Мифы о сахарном диабете у пожилых людей</a></div>
                        </div>
                    </div>

                

                

                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info4.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Шум в голове у пожилых людей – причины, симптомы, как избавиться</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info2.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Шум в голове у пожилых людей – причины, симптомы, как избавиться</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info3.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Шум в голове у пожилых людей – причины, симптомы, как избавиться</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info4.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Шум в голове у пожилых людей – причины, симптомы, как избавиться</a></div>
                        </div>
                    </div>

                

                

                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info2.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Основные проблемы пожилых людей</a></div>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info3.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Мифы о сахарном диабете у пожилых людей</a></div>
                        </div>
                    </div>

                    <div class="item item-big">
                        <a href="#" style="background-image: url(/image/information/info-page/info1.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Гипертонический криз у пожилых</a></div>
                        </div>
                    </div>

                

                

                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info4.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Шум в голове у пожилых людей – причины, симптомы, как избавиться</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info2.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Шум в голове у пожилых людей – причины, симптомы, как избавиться</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info3.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Шум в голове у пожилых людей – причины, симптомы, как избавиться</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" style="background-image: url(/image/information/info-page/info4.png);"></a>
                        <div class="item-desc">
                            <div class="item-date">12.01.2022</div>
                            <div class="item-title"><a href="#">Шум в голове у пожилых людей – причины, симптомы, как избавиться</a></div>
                        </div>
                    </div>

                

            </div>

        </div>
    </div>
</section>

<section class="bottom-banner informaciya-banner">
    <div class="container">
        <div class="bottom-banner-bg">
            <div class="banner-wrap">
                <div class="banner-wrap-left">
                    <div class="consultation-title">Поможем подобрать место, в котором пациенту будет комфортно</div>
                    <div class="consultation-desc">
                        <p>Оставьте важную информацию о состоянии больного и свои контакты</p>
                        <p>Мы свяжемся в ближайшее время</p>
                    </div>
                </div>
                <div class="banner-wrap-center">
                    <img src="/image/logo-white.png" alt="logo">
                </div>
                <div class="banner-wrap-right">
                    <div class="form_wrapper">
                        <form action="/ajax/form/" class="consultation-form" data-type="informaciya">
                            <div class="form-title">Подобрать место</div>
                            <div class="form-input">
                                <input type="text" name="consultation-contact" placeholder="Email/телефон" data-required>
                            </div>
                            <div class="form-input">
                                <input type="text" name="consultation-name" placeholder="Ваше имя" data-required>
                            </div>
                            <div class="form-input">
                                <textarea type="text" name="consultation-info" placeholder="Дополнительная информация"></textarea>
                            </div>
                            <div class="form-accept">
                                <div class="form-accept-check-bottom _active" data-action="form_checkbox" data-form-privacy>
                                    <input type="checkbox" name="policy" id="form-accept-check-bottom" data-required>
                                    <label class="form-accept-desc _link" for="form-accept-check-bottom">
                                        <span>Я согласен с условиями обработки <a href="#">персональных данных</a></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-submit" type="submit">
                                <button class="btn">Подобрать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>