  <section class="informaciya">
            <div class="container">
                <div class="informaciya-title">
                    Информация
                </div>
                <div class="informaciya-content">

                    <div class="good-to-know-items">
                        <div class="row">
    
                            <div class="item item-big" style="background-image: url(/image/information/info-page/info1.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Гипертонический криз у пожилых</div>
                                </div>
                            </div>

                            <div class="item" style="background-image: url(/image/information/info-page/info2.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Основные проблемы пожилых людей</div>
                                </div>
                            </div>

                            <div class="item" style="background-image: url(/image/information/info-page/info3.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Мифы о сахарном диабете у пожилых людей</div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="item" style="background-image: url(/image/information/info-page/info4.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Шум в голове у пожилых людей – причины, симптомы, как избавиться</div>
                                </div>
                            </div>
                            <div class="item" style="background-image: url(/image/information/info-page/info2.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Шум в голове у пожилых людей – причины, симптомы, как избавиться</div>
                                </div>
                            </div>
                            <div class="item" style="background-image: url(/image/information/info-page/info3.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Шум в голове у пожилых людей – причины, симптомы, как избавиться</div>
                                </div>
                            </div>
                            <div class="item" style="background-image: url(/image/information/info-page/info4.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Шум в голове у пожилых людей – причины, симптомы, как избавиться</div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="item" style="background-image: url(/image/information/info-page/info2.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Основные проблемы пожилых людей</div>
                                </div>
                            </div>

                            <div class="item" style="background-image: url(/image/information/info-page/info3.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Мифы о сахарном диабете у пожилых людей</div>
                                </div>
                            </div>

                            <div class="item item-big" style="background-image: url(/image/information/info-page/info1.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Гипертонический криз у пожилых</div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="item" style="background-image: url(/image/information/info-page/info4.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Шум в голове у пожилых людей – причины, симптомы, как избавиться</div>
                                </div>
                            </div>
                            <div class="item" style="background-image: url(/image/information/info-page/info2.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Шум в голове у пожилых людей – причины, симптомы, как избавиться</div>
                                </div>
                            </div>
                            <div class="item" style="background-image: url(/image/information/info-page/info3.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Шум в голове у пожилых людей – причины, симптомы, как избавиться</div>
                                </div>
                            </div>
                            <div class="item" style="background-image: url(/image/information/info-page/info4.png);">
                                <div class="item-desc">
                                    <div class="item-date">12.01.2022</div>
                                    <div class="item-title">Шум в голове у пожилых людей – причины, симптомы, как избавиться</div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>

        <section class="home-bottom-banner informaciya-banner">
            <div class="container">
                <div class="free-consultation">
                    <div class="free-consultation-left">
                        <div class="consultation-title">Поможем подобрать место, в котором пациенту будет комфортно</div>
                        <div class="consultation-desc">
                            <p>Оставьте важную информацию о состоянии больного и свои контакты</p>
                            <p>Мы свяжемся в ближайшее время</p>
                        </div>
                    </div>
                    <div class="free-consultation-center">
                        <img src="/image/logo-white.png" alt="logo">
                    </div>
                    <div class="free-consultation-right">
                        <form action="/" class="consultation-form">
                            <div class="form-title">Подобрать место</div>
                            <div class="form-input">
                                <input type="text" name="consultation-contact" placeholder="Email/телефон">
                            </div>
                            <div class="form-input">
                                <input type="text" name="consultation-name" placeholder="Ваше имя">
                            </div>
                            <div class="form-input">
                                <textarea type="text" name="consultation-info" placeholder="Дополнительная информация"></textarea>
                            </div>
                            <div class="form-accept">
                                <div class="form-accept-check-bottom">
                                    <input type="checkbox" id="form-accept-check-bottom">
                                    <label class="form-accept-desc" for="form-accept-check-bottom">
                                        <span>Я согласен с условиями обработки <a href="#">персональных данных</a></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-submit">
                                <button class="btn">Подобрать</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>