<ul class="footer-menu-col-1">
    <li><a href="#">Паллиативные центры</a></li>
    <li><a href="#">Хосписы</a></li>
</ul>
<ul class="footer-menu-col-2">
    <li><a href="#">Геронтологические центры</a></li>
    <li><a href="#">Гериатрические центры</a></li>
</ul>
<ul class="footer-menu-col-3">
    <li><a href="#">Стационары</a></li>
</ul>