<li class="active"><a href="#">Паллиативные центры</a></li>
<li><a href="#">Хосписы</a></li>
<li><a href="#">Стационары</a></li>
<li><a href="#">Геронтологические центры</a></li>
<li><a href="#">Гериатрические центры</a></li>