 <section class="licenzies">
            <div class="container">
                <div class="licenzies-title">
                    Лицензии
                </div>
                <div class="licenzies-desc">
                    <p>
                        Люди почтенного возраста часто утрачивают способность к самообслуживанию и нуждаются в круглосуточном уходе и квалифицированной медицинской помощи. Все это вы можете дать им, подобрав достойный пансионат для пожилых в Московской области. На страницах
                        нашего каталога вы найдете бюджетные и элитные варианты, специализированные учреждения по уходу за лежачими постояльцами, дома-интернаты и реабилитационные центры, способные вернуть человека к активной жизни после инфарктов, инсультов,
                        перелома шейки бедра и эндопротезирования суставов.
                    </p>
                </div>
                <div class="licenzies-departments">
                    <div class="departments-list">
                        <div class="department1">
                            <div class="department-img">
                                <img src="/image/flags/1920-690/flag1.png" alt="">
                            </div>
                            <div class="department-desc">
                                департамаент труда<br> и социальной защиты<br> населения города москвы
                            </div>
                        </div>
                        <div class="department2">
                            <div class="department-img">
                                <img src="/image/flags/1920-690/flag2.png" alt="">
                            </div>
                            <div class="department-desc">
                                Федеральная служба по надзору в<br> сфере защиты прав потребителей и<br> благополучия человека
                            </div>
                        </div>
                        <div class="department3">
                            <div class="department-img">
                                <img src="/image/flags/1920-690/flag3.png" alt="">
                            </div>
                            <div class="department-desc">
                                Департамент<br> здравоохранения<br> города Москвы
                            </div>
                        </div>
                        <div class="department4">
                            <div class="department-img">
                                <img src="/image/flags/1920-690/flag4.png" alt="">
                            </div>
                            <div class="department-desc">
                                Официальный сайт<br> государственных и<br> муниципальных учреждений РФ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="licenzies-list">
                    {# <div class="licenzies-list-big">
                        <img src="/image/licensions/1920-930/license-big.png" alt="">
                    </div> #}
                    <div class="licenzies-list-small">
                        <div class="licenzies-list-big">
                            <img src="/image/licensions/1920-930/license-big.png" alt="">
                        </div>
                        <div class="item item1">
                            <img src="/image/licensions/1920-930/license-small.png" alt="">
                        </div>
                        <div class="item item2">
                            <img src="/image/licensions/1920-930/license-small.png" alt="">
                        </div>
                        <div class="item item3">
                            <img src="/image/licensions/1920-930/license-small.png" alt="">
                        </div>
                        <div class="item item4">
                            <img src="/image/licensions/1920-930/license-small.png" alt="">
                        </div>
                        <div class="item item5">
                            <img src="/image/licensions/1920-930/license-small.png" alt="">
                        </div>
                        <div class="item item6">
                            <img src="/image/licensions/1920-930/license-small.png" alt="">
                        </div>
                        <div class="item item7">
                            <img src="/image/licensions/1920-930/license-small.png" alt="">
                        </div>
                        <div class="item item8">
                            <img src="/image/licensions/1920-930/license-small.png" alt="">
                        </div>
                     
                    </div>
                </div>
            </div>
        </section>